*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

::-webkit-scrollbar{
    width: 0;
}
nav{
    justify-content: space-between;
    display: flex;
    padding: 2rem;
}

.nav-wrapper{
    align-items: center;
}
.nav-wrapper .search{
    align-items: center;
    width: 18px;
}
.nav-wrapper input{
    font-weight: bold;
    font-size: 18px;
    height: 24px;
    width: 240px;
    border-radius: 2px;
    border: 1px solid gray;
}
.cart{
    cursor: pointer;
    color:white;
}

.cartMenu{
    overflow-y: scroll;
    z-index: 2;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    color: white;
    background-color: rgb(0, 51, 58);
}
.cartMenu h1{
    color: white;
    font-size: 24px;
}
.cartMenu .xcart{
    color: white;
}
.checkout{
    margin-bottom: 20%;
}
.total{


    color: wheat;
    bottom: 0;
    position: relative;
}
.listCard{
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    margin-top: 2rem;
    display: flex;
    column-gap: 40px ;
    row-gap:40px ;align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.listCard img{
    width: 250px;
}
.listCard .productPrice{
    margin-top: 0.4rem;
}
.listCard button{
    cursor: pointer;
    margin-top: 0.8rem;
    padding: 0.4rem;
    border-radius: 2px;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 136, 255);
}
.list div{
    color: wheat;
    font-family: 'Poppins', sans-serif;
}
.list{
    margin-top: 1rem;
    margin-bottom: 20%;
    margin-left: 0.5rem;
}
.list img{
    width: 100px;
}
.list button{
    height: 20px;
    width: 30px;
    font-size: 24px;
}
.cartName{
    color: white;
}
.gantiCount{
    display: flex;
}
.gantiCount button{
    font-size: 18px;
    margin: 0 0.5rem;
}
.checkout div{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 0, 116);
    padding: 1rem;   
}
.card-wrapper{
    margin-bottom: 30%;
    margin-top: 2rem;
}
.imgCard{
    border-radius: 5%;
    object-fit:scale-down;
    width:200px;
    height: 250px;
}


footer{
    justify-content: space-around;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    height: 14rem;
    background-color: rgb(190, 96, 62);
}

footer div{
    margin-top: 1rem;
}
footer p ,footer h1{
    color: white;
}
footer div img{
    margin-top: 0.8rem;
}
.contact{
    align-items: center;
    text-align: center;
}
.contact img{
    width: 32px;
}
.Email{
 text-align: center;
}
.Email img{
    margin-top: 0.8rem;
    width:47px ;
}
.Thecnology{
    height:200px;
    width: 250px;

}
.Thecnology p{
    text-align: center;
}
.items-wrapper{
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.Thecnology .ThecnologyItems{
    width: 100px;
    margin: 5px;
    height: 24px;
    display: flex;
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
        justify-content: center;
    
    
}
.Thecnology div span img{
    width: 24px;
}

.Thecnology div span{
    font-size: 12px;
    color: white;
}